header nav {
  height: 80px; }
  header nav div {
    background-color: black;
    overflow: hidden; }
    header nav div a img {
      width: 70px; }
    header nav div ul li {
      font-size: 17px; }

.fondo {
  background-image: url(../imagenes/fondo.jpg);
  background-repeat: no-repeat;
  height: 800px; }

#utmLogo {
  position: relative;
  left: 28%;
  top: 140px;
  animation-duration: 3.5s; }

.divColorVioleta {
  background-color: #201b26; }

div h2 {
  color: #dacab0;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  font-family: 'Pirata One', cursive;
  letter-spacing: 5px;
  font-size: 42px; }

div p {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 19px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px; }

.encabezado {
  color: #352f5d;
  font-family: 'Pirata One', cursive;
  letter-spacing: 5px;
  text-align: center;
  font-size: 42px;
  padding-top: 30px;
  animation-duration: 2s; }

.muestraProductos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 25px;
  flex-wrap: wrap; }
  .muestraProductos__imagen {
    border: 1px solid black;
    width: 400px; }
  .muestraProductos__caja {
    z-index: 1;
    position: relative;
    bottom: 25%;
    left: 19%;
    width: 250px;
    height: 50px;
    text-align: center;
    border: 4px solid white; }
  .muestraProductos__caja:hover {
    transform: scale(1.2, 1.2);
    transition: 1s; }
  .muestraProductos__link {
    position: relative;
    top: 17%;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white; }
    .muestraProductos__link--red {
      color: #e9695e; }
    .muestraProductos__link--black {
      color: black; }
    .muestraProductos__link--wheat {
      color: wheat; }

.textoenCaja, .textoenCajaBlanco, .textoenCajaNegro, .textoenCajaWheat {
  z-index: 1;
  position: relative;
  bottom: 45%;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 57px;
  color: #e9695e;
  animation-duration: 2s;
  padding: 0; }

.textoenCajaBlanco {
  color: white; }

.textoenCajaNegro {
  color: black; }

.textoenCajaWheat {
  color: wheat;
  font-size: 55px; }

.acercaDe {
  background-color: #201b26;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .acercaDe__fotos {
    width: 600px;
    height: auto;
    padding-top: 50px; }
  .acercaDe__texto {
    width: 600px;
    height: auto; }

.segundoLogo {
  position: relative;
  left: 38.5%;
  margin-bottom: 15px;
  margin-top: 25px; }

.suscrip {
  width: 500px;
  text-align: center;
  margin-left: 37%;
  margin-right: 30%; }
  .suscrip__join {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 30px; }
  .suscrip__texto {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    animation-duration: 2s;
    color: black; }

footer {
  background-color: #201b26;
  height: 450px; }
  footer img {
    width: 40px; }

p {
  color: white;
  text-align: center; }

.flexFooter {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center; }

.logoFooter {
  width: 350px;
  margin-top: 20px; }

.iconosFooter {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: center;
  gap: 7px;
  padding-bottom: 50px;
  align-items: center;
  position: relative;
  left: 45.3%; }

@media only screen and (max-width: 1526px) {
  #utmLogo {
    position: relative;
    left: 27%;
    top: 220px;
    width: 670px; }
  .muestraProductos {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 700px 700px; }
  .segundoLogo {
    width: 350px;
    position: relative;
    left: 37, 6%; }
  .suscrip {
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    left: 32%; }
  .iconosFooter {
    position: relative;
    left: 44.2%; } }

@media only screen and (max-width: 992px) {
  .fondo {
    background-image: url(/imagenes/fondoSemi.jpg); }
  #utmLogo {
    width: 550px;
    position: relative;
    left: 22.5%;
    top: 250px; }
  h2 {
    font-size: 30px;
    padding-bottom: 15px; }
  .suscrip {
    width: 500px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    left: 21%; }
  .segundoLogo {
    width: 350px;
    position: relative;
    left: 32%; }
  .iconosFooter {
    position: relative;
    left: 40.3%; } }

@media only screen and (max-width: 526px) {
  header nav {
    width: 80%; }
  .fondo {
    background-image: url(../imagenes/fondoThin.jpg);
    height: 560px; }
  #utmLogo {
    width: 350px;
    position: relative;
    left: 6%;
    top: 190px; }
  .muestraProductos {
    display: flex;
    flex-direction: row; }
    .muestraProductos__imagen {
      width: 350px; }
    .muestraProductos__texto {
      font-size: 40px; }
    .muestraProductos__caja {
      position: relative;
      left: 14%; }
  .suscrip {
    position: relative;
    left: 7%;
    width: 300px; }
  .segundoLogo {
    width: 250px;
    position: relative;
    left: 19%; }
  #suscripcion {
    position: relative;
    left: 11px; }
  .iconosFooter {
    position: relative;
    left: 26.5%; }
  .textoenCaja, .textoenCajaBlanco, .textoenCajaNegro, .textoenCajaWheat {
    font-size: 45px; }
  .acercaDe__fotos {
    width: 600px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 20px; } }

.fonditoTattoos {
  background-image: url(../imagenes/fondito.png);
  padding-bottom: 40px;
  padding-top: 120px; }

.gridProducts {
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: auto auto;
  grid-template-areas: "area1 producto descr area4" "area1 producto2 descr2 area4";
  margin-top: 60px;
  justify-items: center;
  row-gap: 70px;
  flex-wrap: wrap; }
  .gridProducts img {
    border: 2px solid black; }
  .gridProducts ul li {
    padding-bottom: 7px; }
  .gridProducts__remeraWicked {
    padding-top: 42px;
    grid-area: producto; }
  .gridProducts__descWicked {
    grid-area: descr; }
  .gridProducts__titulo {
    padding-bottom: 7px;
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center; }
  .gridProducts__precio {
    padding-bottom: 7px;
    color: #352f5d;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: left; }
  .gridProducts__descripcion {
    font-family: 'Nunito', sans-serif;
    padding-bottom: 20px; }
  .gridProducts__talles {
    width: 600px;
    margin: 30px; }
  .gridProducts__talles:hover {
    transform: scale(1.5, 1.5);
    transition: 1s; }
  .gridProducts__heart {
    padding-top: 42px;
    grid-area: producto2; }
  .gridProducts__descHeart {
    grid-area: descr2; }
  .gridProducts__carrito {
    color: black;
    text-align: left; }
  .gridProducts__input {
    font-size: 15px; }
  .gridProducts__separador {
    visibility: hidden; }

#rosaSeparador {
  border: none;
  width: 140px; }

@media only screen and (max-width: 1526px) {
  .gridProducts {
    display: grid;
    grid-template-columns: 50px 600px 780px 15px;
    grid-template-rows: auto auto;
    grid-template-areas: "area1 producto descr area4" "area1 producto2 descr2 area4";
    margin-top: 60px;
    justify-items: center;
    row-gap: 30px;
    flex-wrap: wrap; }
    .gridProducts__descWicked {
      width: 640px; }
    .gridProducts__descHeart {
      width: 640px; } }

@media only screen and (max-width: 992px) {
  .gridProducts {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "producto" "descr" "producto2" "descr2";
    margin: 14px;
    justify-items: center;
    row-gap: 80px; } }

@media only screen and (max-width: 526px) {
  .gridProducts {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: "producto" "descr" "separador" "producto2" "descr2";
    margin: 14px;
    justify-items: center; }
    .gridProducts img {
      width: 380px; }
    .gridProducts__descWicked {
      width: 500px; }
    .gridProducts__descHeart {
      width: 500px; }
    .gridProducts__titulo {
      padding-bottom: 7px;
      font-size: 24px; }
    .gridProducts__precio {
      padding-bottom: 7px;
      color: #352f5d;
      font-family: 'Inter', sans-serif;
      font-size: 22px;
      margin-bottom: 10px;
      text-align: center; }
    .gridProducts__descripcion {
      margin-left: 15%;
      margin-right: 15%; }
    .gridProducts__carrito {
      font-size: 15px;
      text-align: center; }
    .gridProducts__separador {
      visibility: visible;
      border: none;
      width: 120px; } }

.fondoNegro {
  background-color: black; }

.titleColor {
  color: #9182a0; }

.grillaTalles {
  margin-left: 15%;
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: 900px 1000px;
  grid-template-areas: "tabla1 tabla2" "tabla3 tabla4";
  column-gap: 50px; }
  .grillaTalles__remeras {
    grid-area: tabla1; }
  .grillaTalles__hoodies {
    grid-area: tabla2; }
  .grillaTalles__sweaters {
    grid-area: tabla3; }
  .grillaTalles__sweaterOv {
    grid-area: tabla4; }
  .grillaTalles__images {
    width: 100%; }

@media only screen and (max-width: 992px) {
  .grillaTalles {
    margin-left: 0px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 720px 720px;
    grid-template-areas: "tabla1 tabla2" "tabla3 tabla4";
    column-gap: 50px; } }

@media only screen and (max-width: 526px) {
  .grillaTalles {
    margin-left: 0px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 720px 720px 720px 720px;
    grid-template-areas: "tabla1" "tabla2" "tabla3" "tabla4";
    column-gap: 20px; } }

.contacto {
  margin-top: 90px;
  margin-bottom: 90px;
  text-align: center;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 15%;
  margin-right: 15%;
  flex-wrap: wrap; }
  .contacto p {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    color: black; }
    .contacto p img {
      width: 20px; }

.mensaje h3 {
  margin-top: 45px;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  color: black;
  font-size: 20px; }

.mensaje form {
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  flex-direction: column; }
  .mensaje form input {
    padding-bottom: 5px;
    margin-bottom: 5px;
    background-color: #af9fc4;
    color: white; }
  .mensaje form textarea {
    background-color: #af9fc4;
    margin-bottom: 5px;
    color: white;
    height: 300px; }

@media only screen and (max-width: 992px) {
  .datosContacto {
    margin-top: 90px;
    margin-bottom: 90px;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: wrap; }
  .mensaje form {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column; } }

@media only screen and (max-width: 526px) {
  .contacto p {
    font-size: 15px; }
  .mensaje h3 {
    margin-top: 10px;
    font-size: 13px; } }

.preguntasFrecuentes div {
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%; }
  .preguntasFrecuentes div h2 {
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin: 0;
    color: #352f5d; }
  .preguntasFrecuentes div div {
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    margin: 0; }

.faq {
  margin-top: 35px;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  color: #000; }
  .faq a {
    color: #352f5d; }

.error {
  width: auto;
  height: 800px;
  margin-top: 70px;
  position: relative;
  left: 35%; }
  .error img {
    width: 550px; }

.bodyError {
  background-color: #68638c; }

@media only screen and (max-width: 1526px) {
  .error {
    position: relative;
    left: 30%; } }

@media only screen and (max-width: 992px) {
  .error {
    position: relative;
    left: 21%;
    height: 760px; }
    .error img {
      width: 520px; } }

@media only screen and (max-width: 526px) {
  .error {
    position: relative;
    left: 1%;
    height: 640px; }
    .error img {
      width: 420px; } }
