.fondoNegro {
    background-color: black;
}

.titleColor {
    color: rgb(145, 130, 160);
}


.grillaTalles {
    margin-left: 15%;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 900px 1000px;
    grid-template-areas: "tabla1 tabla2"
        "tabla3 tabla4";
    column-gap: 50px;

    &__remeras {
        grid-area: tabla1;
    }

    &__hoodies {
        grid-area: tabla2;
    }

    &__sweaters {
        grid-area: tabla3;
    }

    &__sweaterOv {
        grid-area: tabla4;
    }

    &__images {
        width: 100%;
    }
}


@media only screen and (max-width: 992px) {
    .grillaTalles {
        margin-left: 0px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 720px 720px;
        grid-template-areas: "tabla1 tabla2"
            "tabla3 tabla4"
        ;
        column-gap: 50px;
    }
}

@media only screen and (max-width:526px) {
    .grillaTalles {
        margin-left: 0px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 720px 720px 720px 720px;
        grid-template-areas: "tabla1"
            "tabla2"
            "tabla3"
            "tabla4";
        column-gap: 20px;

    }
}